:root{ /*criação das variaveis das cores principais na raiz da pagina*/
    --vermelho: #E50914;
    --preto: #141414;
}

*{ /*reset do css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*limita o conteudo interno das boxes*/
}

@font-face{ /*adicinei uma fonte externa para o titulo do netflix ref: adobe fonts*/ 
    font-family: bebas-neue-by-fontfabric,sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url(<link rel="stylesheet" href="https://use.typekit.net/yyi0pky.css">)
}
/*elementos base*/

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{ /*caixa do cabeçalho*/
    display: flex; /*organizou os elemetons internos do container na mesma linha*/
    flex-direction: row; /*propriedade já vem inclusa por padrao no display flex*/
    align-items: center; /*alinhou os itens verticalmente*/
    justify-content: space-between; /*criou um espaço entre os elementos do container*/
}

header .logo{ /*logo netflix*/
    color: var(--vermelho);
    font-family: bebas-neue-by-fontfabric,sans-serif;
    font-size: 40px;
    margin-left: 8px;
}

header nav a{ /*estilização dos links do menu*/
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{ /*muda a cor quando o mouse passa em cima dos links do menu*/
    color: #fff;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/img/capa-the-boys.jpg'); /*imagem da serie com uma camada preta transparente para dar contraste ao texto*/

    height: 400px;
    background-size: cover; /*ocupou toda area do background*/

    display: flex;
    flex-direction: column; /*organizou os elementos em coluna*/
    justify-content: center; /*centralizou os elementos verticalmente*/
    align-items: flex-start; /*organiza os elementos da esquerda pra direita nesse caso*/
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 14px;

    cursor: pointer; /*troca a sete por um ponteiro pra identificar que existe um botao ali*/
    transition: .3s ease all; /*adiciona uma transição do tipo ease all com duração de 3 segundos*/
}

.botao:hover{ /*quando passa o mouse em cima do botao inverte as cores do botao*/
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}